.view_user {
  margin-top: 30px;
}

.but-inn {
  display: flex;
  justify-content: center;
}
.load-css {
  display: flex;
  justify-content: center;
}

.filter-css {
  display: flex;
  justify-content: right;
}
